:root {
    --primary-logo-color: #4D5AE5;
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --primary-background-color: #2E2F42;
    --secondary-background-color: #F4F4FD;
    --hover-color: #404BBF;
  }
  
  body {
    background-color: #ffffff;
    color: var(--secondary-color);
  }
  
  header {
    border: 1px solid #E7E9FC;
  }
  
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
  }
  
  .title-section {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  
  .title-decription {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  
  .text-decription {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    width: 264px;
  }
  
  button {
    border-radius: 4px;
    color: var(--primary-logo-color);
    background-color: var(--secondary-background-color);
    border: 1px solid #F4F4FD;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
  }
  
  .logotype.link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--primary-logo-color);
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .link {
    text-decoration: none;
  }
  
  .link{

  }
  
  .list li {
    list-style-type: none;
  }
  
  .text-link {
    color: var(--primary-color);
  }
  
  .nav-link.link {
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  .nav-link.link:hover,
  .nav-link.link:focus {
    color: var(--hover-color);
  }
  
  .address-link.link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  
  .address-link.link:hover,
  .address-link.link:focus {
    color: var(--hover-color);
  }

  .container {
    max-width: 1128px;
    margin: 0 auto;
  }
  
  .container li {
    width: 264px;
    height: 380px;
    background-color: #ffffff;
  }
  
  .team {
    width: 100%;
    height: 732px;
    background-color: #F4F4FD;
  }
  

  .footer{
    background-color: var(--primary-background-color);
    width: 100%;
    height: 312px;
  }